<%- include("header") -%>
<section class="blog-posts">
    <h2>Latest Posts</h2>
    <article>
        <% allPosts.forEach((data)=>{ %>
          <div class="post" data-post-id="<%= data._id %>">
        <h3 style="text-align: center;"><%= data.title %></h3>
        <% if (data.image) { %>
          <img src="/uploads/<%= data.image %>" style="width: 19rem;height:19rem;display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;" class="img-fluid" alt="Post image">
        <% } %>
        <br>
        <small class="text-body-secondary">created by : <%= data.author.owner %></small>
        <p><%= data.body.slice(0,200) %>...
            <br>
            <small class="text-body-secondary">last update : <%= data.createdAt.toLocaleDateString('en-US', { month: 'long', year: 'numeric' }) %></small>
        </p>

        <div class="actions">  
            <a href="/auth/posts/<%=data._id%>">Read More ...</a>

            <div class="comments-section">
              <div class="comments-header">
                <h4>
                    <span class="comments-count"><%= data.commentCount || 0 %></span> Comments
                    <button class="toggle-comments" aria-label="Toggle comments">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </h4>
            </div>
    <div class="comments-container" id="comments-<%= data._id %>" style="display: none;">
        <!-- Comments will be loaded here via JavaScript -->
        <div class="comments-list"></div>
        <div class="comments-pagination">
            <button class="load-more-btn" style="display: none;">Load More Comments</button>
            <div class="loading-indicator" style="display: none;">Loading...</div>
        </div>
    </div>
    <%if (String(user?._id) !== String(data.author.id)) { %>
              <% if (user?._id) { %>
                <div class="comment-form-container">
                <form class="comment-form">
                  <h4>Add a Comment</h4>
                  <input type="hidden" id="post-id" name="postId" value="<%= data._id %>">
                  
                  <input type="hidden" id="author" name="author" value="<%=user.displayName%>" required>
                  <div>
                      <label for="content">Comment:</label>
                      <textarea id="content" name="content" placeholder="write comments here..." required></textarea>
                  </div>
                  <button type="submit" class="submit-btn">Submit Comment</button>
              </form>
            </div>
              <% } else { %>
                <p><a href="/auth/signup">Sign in</a> to leave a comment</p>
              <% } %>
              <% } %>
              </div>
            
            <% if(String(user?._id) === String(data.author.id)){ %>
            <div class="icons">
                <!-- <i class="bi bi-pencil-square">a</i>
                <i class="bi bi-trash3-fill">b</i> -->
                <a href="/auth/edits/<%= data._id %>"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                </a>
                <form id="delete-form-<%=data._id%>" action="/auth/delete/<%=data._id%>" method="get">

                </form>
                <a href="#" onclick="confirmDelete('<%= data._id %>')"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                  </svg>
                </a>
            </div>
            <% } %>
           
        </div>
        <!-- <hr> -->
         <img src="/picha/10578806.png" style="width: 19rem;height:19rem;display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;">
          </div>
          <% }); %>
        
<!-- Reply Modal (hidden by default) -->
<div class="modal" id="replyModal">
  <div class="modal-content">
      <span class="close-modal">&times;</span>
      <h3>Reply to Comment</h3>
      <% if(user){ %>
      <form id="replyForm">
          <input type="hidden" id="replyToPostId">
          <input type="hidden" id="replyToCommentId">
          
              <input type="hidden" id="replyAuthor" value="<%=user.displayName%>" required>
          
          <div class="form-group">
              <textarea id="replyContent" placeholder="Write your reply..." required></textarea>
          </div>
          <button type="submit" class="submit-btn">Post Reply</button>
        </form>
        <% } %>
      </div>
  </div>
  

  <!-- Edit Modal (hidden by default) -->
<div class="modal" id="editModal">
  <div class="modal-content">
      <span class="close-modal">&times;</span>
      <h3>Edit Comment</h3>
      <form id="editForm">
          <input type="hidden" id="editCommentId">
          <div class="form-group">
              <textarea id="editContent" required></textarea>
          </div>
          <button type="submit" class="submit-btn">Update Comment</button>
      </form>
  </div>
</div>


    </article>
   <!-- Pagination Controls -->

<div class="pagination">
  <% if (hasPrevPage) { %>
    <a href="/?page=1" class="btn btn-first">First</a>
    <a href="/?page=<%= currentPage - 1 %>" class="btn btn-prev">Previous</a>
  <% } %>
  
  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="/?page=<%= i %>" class="btn <%= i === currentPage ? 'active' : '' %>">
      <%= i %>
    </a>
  <% } %>
  
  <% if (hasNextPage) { %>
    <a href="/?page=<%= currentPage + 1 %>" class="btn btn-next">Next</a>
    <a href="/?page=<%= totalPages %>" class="btn btn-last">Last</a>
  <% } %>
</div>
</section>
<script>
    async function confirmDelete(postId) {
      const { isConfirmed } = await Swal.fire({
        title: 'Are you sure you want to delete ?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    });

if (isConfirmed) {
  document.getElementById('delete-form-' + postId).submit();
}
}

    window.addEventListener('pageshow', function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    });
  
</script>

<%- include("footer") -%>