<%-include("header")-%>
<% if(post.image){ %>
    <img src="/uploads/<%= post.image %>" style="width: 19rem;height:19rem;display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" class="center" alt="Post image">
<% } %>
<h1 style="text-align: center;"><%=post.title%></h1>
<p><%=post.body%></p>
<a href="/">previous</a>
<script>
    window.addEventListener('pageshow', function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    });
  </script>
<%-include("footer")-%>